.selection {
  background: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg">\
    <style>@keyframes marching-ants {to {stroke-dashoffset: -15;}}</style>\
    <rect height="100%" style="stroke: black; stroke-width: 4px;\
    fill: none; stroke-dasharray: 10px 5px;\
    animation: marching-ants .5s infinite linear;" />\
  </svg>');
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18pt;
  outline: none;
  display: inline-block;
}
