<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        <link rel="shortcut icon" href="static/assets/black_knight.svg">
        <title>Chess Game</title>
    </head>
    <body>
        <div id="chessBoard"></div>
        <div id="transitionSquare"></div>
        <script src="../static/scripts/piece.js"></script>
        <script src="../static/scripts/square.js"></script>
        <script src="../static/scripts/board.js"></script>
        <script src="../static/scripts/loop.js"></script>
    </body>
</html>