*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
}

body {
  margin: 20px 0;
  background: #FFFEF1;
  overflow: hidden;
}

.grid {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 680px;
  margin: 0 auto;
  perspective: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.card {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin: 10px;
  cursor: pointer;
}

.card:hover {
  z-index: 4;
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
  border-radius: 15px;
}

.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  transition: all .1s;
  background: url('images/logo.jpg') white no-repeat center center / contain;
  border: 5px solid #028288;
}

.front:hover {
  z-index: 2;
  transition: all .1s;
  transform: translate(-5px) rotateY(10deg);
  transform-origin: right;
  box-shadow: -7px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 5px solid #028288;
  z-index: 1;
}

.selected {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  cursor: default;
  z-index: 3;
}

.match {
  transform: rotateY(180deg);
  cursor: default;
  z-index: 2;
}

.match>.back {
  animation: flash .6s;
  transition: all .1s;
  transition-delay: 0s;
}

.match:hover {
  z-index: 4;
}

.match:hover>.back {
  transition: all .1s;
  transition-delay: .2s;
  transform: rotateY(180deg) scale(2) ease-in;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
}

.zoom {
  z-index: 5;
}

.zoom>.back {
  transition: all .1s;
  transition-delay: .35s;
  transform: rotateY(180deg) scale(2);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
}

@keyframes flash {
  20%  {
    transform: rotateY(180deg) scale(1.5);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
  }
  80%  {
    transform: rotateY(180deg) scale(1.5);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
  }
}
