/* =========================== CENTERING ============================ */

.container {
  text-align: center;  /* horizontal */

  position: relative;  /* vertical */
}

.center-center {
  width: 100%;         /* horizontal */

  position: absolute;  /* vertical */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ========================== COSMETICS ============================ */

html, body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
}

h1 {
  font-size: 100pt;
}
