/* =========================== CENTERING ============================ */

.container {
  text-align: center;  /* horizontal */

  position: relative;  /* vertical */
}

.center-center {
  width: 100%;         /* horizontal */

  position: absolute;  /* vertical */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ========================== COSMETICS ============================ */

html, body {
  height: 100%;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: #B04632;
  color: white;
}

.container {
  height: 100%;
}

h1 {
  font-size: 120pt;
  margin: 0;
}

.label {
  font-size: 12pt;
  font-family: Arial;
  font-weight: normal;
}

button {
  font-size: 12pt;
  border: 1px solid white;
  background: none;
  color: white;
  cursor: pointer;
  outline: none;
}
